@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #ffffff;
    color: #020407;
    overflow-x: hidden;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #99ea48;
}
